extends ./partials/layout.jade

block title
    title AST и палгины

block slides

    article.illustration.illustration--title.cloud.cloud--title
        h1
            p.wrapper AST и палгины: давайте пошалим!

    article.contacts.center.qrcode
        .wrapper
            .about-speaker.half
                p.name Антон Немцев
                p.link http://silentimp.info/
                p.twitter @silentimp
                p.email thesilentimp@gmail.com
                p.skype skype: ravencry
            .half
                img(src="images/git.svg", alt="QRCODE cо ссылкой на доклад")

            p
                a(href="https://github.com/SilentImp/AST-and-plugins", data-click=true) https://goo.gl/Uk7NHL
